* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

main {
	width: 960px;
	margin: 50px auto;
}
.list {
	margin-bottom: 50px;
}
.list-item {
	padding: 20px;
	list-style: none;
}
.list-item:nth-child(odd) {
	background-color: #eee;
}

.box {
	width: 30%;
	height: 200px;
	margin-right: 5%;
	margin-bottom: 40px;
	background-color: gold;
	float: left;
}
.box:nth-child(3n) {
	margin-right: 0;
}
.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9) {
	background-color: darkorange;
}
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
	margin-bottom: 0;
}